.App-header {
  display: block;
  padding-top:50px;
  text-align: center;
  color: rgb(80, 79, 79);
  margin: 0px;
}

img.dictionaryImg{
  display: inline-block;
  max-width: 150px;
}

.loader{
  margin-top: 15px;
}

hr{
  border-radius: 5px;
  border: 2px solid;
  color: #61dafb;
  width: 100%;
}

footer{
  text-align: center;
  color: rgba(71, 67, 67, 0.712);
}

