.Phonetic{
    text-align: center;
}

.phoneticText{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.527);
}
.phoneticAudio{
    width: 400px;
    padding: 5px;
 }


/* For phone */
@media only screen and (max-width: 700px) {
    .phoneticAudio{
    width: 300px;
    padding: 10px;
 }
}